@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Anasayfa Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Anasayfa Hakkımızda Güncelle</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="AboutId" />
                            <div class="form-group">
                                <label for="categoryname">Başlık</label>
                                <input type="text" class="form-control" asp-for="Title" id="title">
                            </div>
                            <div class="form-group">
                                <label for="categoryname">Görsel Url</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="imageurl">
                            </div>
                            <div class="form-group">
                                <label for="description">Açıklama</label>
                                <input type="text" class="form-control" asp-for="Description" id="description">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Anasayfa Hakkımızda Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>